:root {
	--is-suggest-widget-rounded: 1;
	--suggest-widget-padding: 3px;
	--suggest-icons-saturation: 100%;

	--small-radius: 6px;
	--normal-radius: 10px;
}

.monaco-editor .suggest-widget,
.monaco-editor .suggest-details,
.monaco-editor .monaco-hover,
.quick-input-widget,
.editor-widget.parameter-hints-widget,
.monaco-hover,
.monaco-breadcrumbs-picker > div {
	border-radius: var(--normal-radius) !important;
	overflow: hidden !important;
}
.monaco-hover img {
	border-radius: var(--small-radius) !important;
}
.slider {
	border-radius: var(--small-radius) !important;
}
.suggest-widget {
	padding-top: calc(
		var(--suggest-widget-padding) * var(--is-suggest-widget-rounded)
	) !important;
	padding-left: calc(
		var(--suggest-widget-padding) * var(--is-suggest-widget-rounded)
	) !important;
	padding-right: calc(
		var(--suggest-widget-padding) * var(--is-suggest-widget-rounded)
	) !important;
	padding-bottom: calc(
		calc(var(--suggest-widget-padding) / 3) *
			var(--is-suggest-widget-rounded)
	) !important;
}
.monaco-editor .suggest-widget .monaco-list-row {
	border-radius: calc(
		var(--small-radius) * var(--is-suggest-widget-rounded)
	) !important;
}
.monaco-editor .suggest-details {
	margin-left: 10px !important;
}
.suggest-widget .suggest-icon {
	filter: saturate(var(--suggest-icons-saturation)) !important;
}
.quick-input-list *:not(.focused):not(:hover),
.quick-input-list .monaco-list-rows {
	background: transparent !important;
}
.quick-input-list .monaco-list-rows .monaco-list-row {
	border-radius: var(--small-radius) !important;
}
.quick-input-widget {
	padding-bottom: 3px !important;
}
.pane-body .monaco-list-row {
	border-radius: var(--small-radius) !important;
	margin: 4px !important;
	width: 96% !important;
}
.pane-body .monaco-list-rows {
	padding-bottom: 5px !important;
}
.minimap-slider {
	border-radius: var(--small-radius) !important;
}
.monaco-breadcrumbs-picker .monaco-list-row {
	border-radius: var(--small-radius) !important;
}
.monaco-breadcrumbs-picker > div {
	padding: 5px !important;
}
